{
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 120,
    "arrowParens": "always",
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-classnames", "prettier-plugin-tailwindcss"],
    "endOfLine": "crlf"
}
